@media only screen and (max-width: 829px) {
    .main {
        gap: 0;
    }

    .left {
        transform: translateX(-200%);
        z-index: 3;
        position: absolute;
        height: calc(100% - 14px);
        transition: all 0.2s;
    }


    .left-bottom .songslist {
        overflow-y: auto;
    }

    .right {
        width: 100%;

    }

    .right.clicked::before {
        transform: translateX(0%);
    }

    .right::before {
        transition: all 0.15s;
        position: absolute;
        top: 0%;
        right: 0%;
        width: 100%;
        height: 100%;
        content: "";
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.8);
        transform: translateX(-200%);
    }

    .left .left-top {
        height: initial;
    }

    .phn-ico {
        display: initial;
    }

    .left .left-top .nav-item>* {
        display: none;
    }

    .left-bottom {
        height: calc(100% - 10px);
    }

    .left-bottom .songs>div:nth-child(2)>div:first-child {
        display: flex;
    }

    .right .right-bottom .right-footer .footer-1 {
        flex-direction: column;
        gap: 3rem;
    }

    .right .right-bottom .right-footer .footer-1 .txt-links {
        width: 100%;
    }

    .right .right-bottom .right-footer .footer-1 .social-links {
        width: 30%;
        margin: auto;
        justify-content: center;
        padding: 10px 0;
        border: 5px dotted rgba(128, 128, 128, 0.4);
    }

    .curr-song {
        padding: 8px 10px;
        gap: 20px;
    }

    .curr-song .third-part>img {
        display: none;
    }

    .curr-song .third-part {
        max-width: 7rem;
    }

}

@media only screen and (max-width: 729px) {
    .right .right-bottom .main .album-container .album {
        aspect-ratio: unset;
        gap: 5px;
    }

    .right .right-bottom .right-footer .footer-1 .social-links {
        width: 100%;
        border: none;
    }

    .curr-song {
        padding: 8px 10px;
        display: flex;
        justify-content: space-between;
    }

    .curr-song .first-part {
        width: 60%;
        min-width: unset;
    }

    .curr-song .second-part {
        width: initial;
        flex-grow: unset;
    }

    .curr-song .second-part .song-seekbar {
        display: none;
    }

    .curr-song .third-part {
        display: none;
    }

}

@media only screen and (max-width: 421px) {
    .main {
        height: calc(100vh - 20vw);
        max-height: calc(100vh - 60px);
        padding: 3px;
    }

    .left {
        width: 100%;
        max-width: 22.5rem;
    }

    .left .left-top {
        padding: 1rem;
    }

    .left-bottom .songslist {
        padding-right: 10px;
    }

    .left-bottom .songslist>div {
        width: auto;
    }

    .left-bottom>div {
        padding: 1rem;
    }

    /* Define scrollbar styles */
    .songslist::-webkit-scrollbar,
    .right::-webkit-scrollbar {
        width: 0px;
        /* Width of the scrollbar */
    }

    .right .right-top {
        padding: 10px 5px;
    }

    .right .right-top .wave {
        display: none;
    }

    .right .right-top div>span {
        transform: scale(0.8);
    }

    .right .right-top div>span:hover {
        transform: scale(0.8);
        color: black;
        font-weight: bold;
    }

    .right .right-top>div:last-child {
        transform: translateX(12%);
    }

    .right .right-bottom {
        padding: 10px;
    }

    .right .right-bottom .main h1 {
        text-align: center;
    }

    .right .right-bottom .main .album-container {
        grid-template-columns: repeat(auto-fill, minmax(min(120px, 100%), 1fr));
        margin-bottom: 3rem;
        margin-left: 0rem;
    }

    .right .right-bottom .main .album-container .album {
        margin-bottom: 1rem;
        min-width: 140px;
    }

    .right .right-bottom .right-footer {
        padding: 0;
        padding-top: 1rem;
        border-top: 1px solid rgba(128, 128, 128, 0.4);
    }

    .right .right-bottom .right-footer .footer-1 .txt-links>div {
        font-size: 14px;
    }

    .right .right-bottom .right-footer .footer-1 .social-links {
        justify-content: start;
    }

    .right .right-bottom .right-footer .footer-2 {
        margin: 1rem 0;
    }

    .curr-song {
        padding: 0px 5px;
        height: 20vw;
        min-height: 60px;
        gap: 0;
    }

    .curr-song .first-part {
        gap: 5px;
        flex-grow: unset;
    }

    .curr-song .first-part>img {
        width: 14vw;
        min-width: 42px;
    }

    .curr-song .first-part .song-detail {
        font-size: clamp(10px, 4vw, 16px);
    }


    .curr-song .second-part .controls {
        gap: 1rem;
        transform: scale(.8);
    }

}

@media only screen and (max-width: 265px) {
    .left-bottom .songs {
        flex-direction: column;
        gap: 1rem;
    }

    .nav-item>div:last-child {
        justify-content: space-between;
    }

    .left-bottom .songslist>div .duration {
        display: none;
    }

    .right .right-bottom .main .album-container .album {
        padding: 0px;
    }

    .curr-song .second-part .controls>span:first-child {
        display: none;
    }

    .curr-song .second-part .controls {
        gap: 10px;
        transform: scale(0.65);
    }
}