body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.title {
    display: flex;
    position: relative;
    left: -1rem;
    align-items: center;
    gap: 15px;
}

.title img {
    height: 100px;
    border-radius: 50%;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Arial', sans-serif;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    text-decoration: none;
    color: #007bff;
}

ul li a:hover {
    text-decoration: underline;
}

hr {
    border: 0;
    border-top: 1px solid #ddd;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #666;
}

/* Output screenshots styling */
.output-screenshot {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}