.main {
    gap: 10px;
    padding: 8px;
    height: calc(100vh - 85px);
    position: relative;
}


/* LEFT */
.left {
    height: 100%;
    width: 22.5rem;
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: hidden;
}

.right {
    width: calc(100% - 22.5rem);
}

body {
    background-color: black;
    color: white;
}


/* LEFT--TOP */
.left .left-top {
    padding: 1rem 1.5rem;
    height: 150px;
}

.left .left-top>div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.left .left-top .nav-item>* {
    margin-top: 1.3rem;
    /* display: none; */
}

.nav-item>div {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    transition: all 0.5s;
    opacity: 0.7;
}

.nav-item>div img {
    width: 24px;
}

.nav-item>div span {
    font-size: 15px;
}

.left-top .nav-item>div:first-child {
    opacity: 1;
}

.nav-item>div:hover {
    opacity: 1;
}


/* LEFT--BOTTOM */
.left-bottom {
    height: calc(100% - 150px - 10px);
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.left-bottom>div {
    padding: 1rem 1.5rem;
}

.left-bottom .songs {
    display: flex;
    justify-content: space-between;
}

.left-bottom .songs .my-songs {
    gap: 0.9rem;
}

.left-bottom .nav-item>div {
    gap: 10px;
    transition: all 0.5s;
    opacity: 0.7;
}

.left-bottom .songs>div:nth-child(2)>div {
    opacity: 0.7;
    transition: all 0.2;
    border-radius: 50%;
    /* padding: 10px; */
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-bottom .songs>div:nth-child(2)>div:first-child {
    display: none;
}

.left-bottom .songs>div:nth-child(2)>div>img {
    width: 17px;
}

.left-bottom .songs>div:nth-child(2)>div:hover {
    opacity: 1;
    background-color: #1A1A1A;
}


.left-bottom .songslist {
    padding-left: 10px;
    padding-right: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    min-height: 150px;
}

.left-bottom .songslist:hover {
    overflow-y: auto;
}

/* Define scrollbar styles */
.songslist::-webkit-scrollbar,
.right::-webkit-scrollbar {
    width: 10px;
    /* Width of the scrollbar */
}

/* Handle */
.songslist::-webkit-scrollbar-thumb,
.right::-webkit-scrollbar-thumb {
    background-color: #434242;
    /* Color of the scrollbar handle */
    border-radius: 5px;
    /* Rounded corners */
}

/* Track */
.songslist::-webkit-scrollbar-track,
.songslist::-webkit-scrollbar-track {
    background: transparent;
    /* Color of the scrollbar track */
}

/* Handle on hover */
.songslist::-webkit-scrollbar-thumb:hover,
.right::-webkit-scrollbar-thumb:hover {
    background: #888;
    /* Color when hovered */
}


.left-bottom .songslist>div {
    border-radius: 10px;
    background-color: var(--c-24);
    padding: 5px 5px;
    width: 21rem;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    font-weight: 200;
    border: 1px solid transparent;
    transition: all 0.2s;
}

.left-bottom .songslist>div.pointer:hover {
    border-bottom: 1px solid #272727;
    border-right: 1px solid #272727;
    background-color: transparent;
    box-shadow: 7px 7px 15px 2px rgba(0, 0, 0, 0.5);
}

.left-bottom .songslist>div.pointer:active {
    transform: scale(0.9);
}

.left-bottom .songslist>div img {
    height: 50px;
    background-color: black;
    border-radius: 10px;
}

.left-bottom .songslist>div .song-detail {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 3px;
    overflow: hidden;
}

.left-bottom .songslist>div .song-detail>span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.left-bottom .songslist>div .song-detail>span:first-child {
    font-weight: 500;
    font-size: 0.9em;
}

.left-bottom .songslist>div .song-detail>span:last-child {
    overflow: hidden;
    font-size: 0.7em;
}

.left-bottom .songslist>div .duration {
    min-width: 21%;
    font-size: 0.8em;
}


.left-bottom .songslist>.temp {
    flex-direction: column;
    align-items: unset;
    gap: 1rem;
    padding: 2rem 0.7rem;
}

.left-bottom .songslist>.temp span{
    background-color: var(--c-w-F6);
    color: var(--c-10);
    border-radius: 50px;
    padding: 1rem 2rem;
    display: inline-block;
    user-select: none;
    font-weight: 600;
    text-align: center;
}


.left-bottom .left-footer {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 11px;
}

.footer-a {
    text-decoration: none;
    color: grey;
}

.left-bottom .left-footer>a:last-child {
    display: block;
    width: 100%;
}

.left-bottom .language>span {
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    padding: 10px 15px;
    border: 1px solid gray;
    border-radius: 30px;
    transition: all 0.05s;
}

.left-bottom .language>span:hover {
    border: 1px solid white;
    transform: scale(1.05);
}

.left-bottom .language span img {
    width: 18px;
}


/* RIGHT */

.right {
    overflow-y: auto;
    overflow-x: hidden;
}

.right .right-top {
    z-index: 1;
    background-color: var(--c-10);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 1rem;
    position: sticky;
    top: 0;
    left: 0;
}

.right .right-top>div:first-child {
    display: flex;
    gap: 2rem;
}

.right .right-top .wave {
    height: 50px;
}

.right .right-top .wave video {
    height: 100%;
}

.right .right-top div>span {
    white-space: nowrap;
    background-color: var(--c-w-F6);
    color: var(--c-10);
    border-radius: 50px;
    cursor: pointer;
    padding: 1rem 2rem;
    transition: all 0.02s;
    display: inline-block;
    user-select: none;
    overflow: hidden;
    max-width: 10rem;
    text-overflow: ellipsis;
}

.right .right-top div>span:hover {
    transform: scale(1.05);
    color: black;
    font-weight: bold;
}

.right .right-bottom {
    background: rgb(31, 31, 31);
    background: linear-gradient(180deg, rgba(31, 31, 31, 1) 0%, rgba(18, 18, 18, 1) 5%);
    padding: 10px 1.5rem;
}

.right .right-bottom .main {
    height: max-content;
}

.right .right-bottom .main h1 {
    letter-spacing: -1px;
}

.right .right-bottom .main .album-container {
    margin-left: -1rem;
    margin-top: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(min(190px, 100%), 1fr));

}

.right .right-bottom .main .album-container .album {
    position: relative;
    aspect-ratio: 5/7;
    border-radius: 10px;
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 3rem;
    font-size: clamp(13px, 2vw, 16px);
    overflow: hidden;
    transition: all 0.2s;
}

.right .right-bottom .main .album-container .album:hover {
    background-color: var(--c-19);
    border-left: 1px solid #3f3f3f;
    border-right: 1px solid #3f3f3f;
    transform: scale(1.02);
}

.right .right-bottom .main .album-container .album:active {
    transform: scale(0.9);
}

.right .right-bottom .main .album-container .album .image {
    position: relative;
    border-radius: 5px;
    width: 100%;
    background-color: black;
    overflow: hidden;
}

.right .right-bottom .main .album-container .album .image>span {
    position: absolute;
    bottom: 0;
    right: 10px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 50%;
    background-color: #1FDD63;
    opacity: 0;
    transition: all 0.4s;
}

.right .right-bottom .main .album-container .album:hover .image>span {
    bottom: 10px;
    opacity: 1;
    transition: all 0.1s;
}

.right .right-bottom .main .album-container .album .image>span img {
    filter: invert(1);
}

.right .right-bottom .main .album-container .album .image img {
    height: 100%;
    width: 100%;
}

.right .right-bottom .main .album-container .album>h3,
p {
    width: 100%;
    align-self: flex-start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.right .right-bottom .main .album-container .album h3 {
    font-size: 1.25em;
    font-weight: 500;
}

.right .right-bottom .main .album-container .album p {
    font-size: 0.9em;
    font-weight: 200;
}

.right .right-bottom .right-footer {
    padding: 2rem 0;
}

.right .right-bottom .right-footer .footer-1 {
    display: flex;
    gap: 2rem;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.4);
}

.right .right-bottom .right-footer .footer-1 .txt-links {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
}

.right .right-bottom .right-footer .footer-1 .txt-links>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 15px;
    min-width: 150px;
}

.right .right-bottom .right-footer .footer-1 .txt-links>div a:hover {
    color: white;
    text-decoration: underline;
}

.right .right-bottom .right-footer .footer-1 .social-links {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.right .right-bottom .right-footer .footer-1 .social-links>div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    min-width: 40px;
    border-radius: 50%;
    background-color: #202020;
}

.right .right-bottom .right-footer .footer-1 .social-links>div:hover {
    background-color: #595959;
}

.right .right-bottom .right-footer .footer-1 .social-links img {
    width: 17px;
}


.right .right-bottom .right-footer .footer-2 {
    color: rgb(143, 143, 143);
    margin: 3rem 0;
    font-size: 14px;
}

/* Current Song */
.curr-song {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 8px;
    gap: 50px;
    padding-top: 0;
    overflow: hidden;
    height: 85px;
}
/* .curr-song > div{
    border: 1px solid red;
} */

.curr-song img {
    width: 10px;
}

.curr-song .first-part {
    min-width: 20rem; 
    width: 15%;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
    justify-self: start;
}

.curr-song .first-part>img {
    width: 60px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.curr-song .first-part .song-detail {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-grow: 1;
    overflow: hidden;
}

.curr-song .first-part .song-detail>span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.curr-song .first-part .song-detail>span:first-child {
    font-weight: 700;
    font-size: 1.1em;
}

.curr-song .first-part .song-detail>span:last-child {
    font-weight: 400;
    overflow: hidden;
    font-size: 0.8em;
}

.curr-song .second-part {
    width: 70%;
    max-width: 100rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-self: center;
    align-items: center;
}

.curr-song .second-part .controls {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.curr-song .second-part .controls>span img {
    width: 25px;
}

.curr-song .second-part .controls>span:nth-child(2) {
    border: 1px solid white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--c-w-F6);
    transition: all 0.2s;
}

.curr-song .second-part .controls>span:nth-child(2) img {
    width: 20px;
    filter: invert(1);
    opacity: 1;
}

.curr-song .second-part .controls>span:nth-child(2):hover {
    transform: scale(1.08);
}

.curr-song .second-part .song-seekbar {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.curr-song .second-part .song-seekbar > *:nth-child(2n+1) {
    width: 4rem;
}

.curr-song .second-part .song-seekbar > *:last-child {
    text-align: right;
}

.curr-song .third-part {
    width: 15%;
    min-width: 5rem;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: end;
    justify-self: end;
}

.curr-song .third-part .volume-bar {
    display: flex;
    max-width: 10rem;
    flex-grow: 1;
    align-items: center;
    gap: 5px;
}

.curr-song .third-part img {
    filter: invert(1);
    width: 25px;
}

