*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: none; */
    
}

html{
    scroll-behavior: smooth;
}

:root{
    --c-12: #121212;
    --c-24: #242424;
    --c-10: #101010;
    --c-19: #191919;
    --c-w-F6: #F6F6F6;
    --c-g: #1DB954;
}

.border{
    border: 1px solid red;
}

.flex{
    display: flex;
}

.pointer{
    cursor: pointer;
}

.font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.bg-12{
    background-color: var(--c-12);
    border-radius: 10px;
}

img{
    user-select: none;
}

.seekbar{
    position: relative;
    height: 4px;
    background-color: grey;
    border-radius: 5px;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.seekbar:hover .complete-bar{
    background-color: var(--c-g);
}

.seekbar .complete-bar{
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    height: 100%;
    background-color: var(--c-w-F6);
    width: 60%;
    border-radius: 5px;
    flex-grow: 1;
}

.second-part .seekbar .complete-bar{
    width: 0%;
}

.seekbar .complete-bar .circle{
    display: none;
    position: absolute;
    top: 0;
    right: -10px;
    transform: translateY(-40%);
    height: 13px;
    width: 13px;
    background-color: var(--c-w-F6);
    border-radius: 50%;
    flex-grow: 1;
    transition: all 0.2s;
}

.seekbar:hover .complete-bar .circle{
    display: initial;
}

.opacity-hover{
    cursor: pointer;
    opacity: 0.7;
}

.opacity-hover:hover{
    opacity: 1;
}

.popup-hover:hover{
    transform: scale(1.05);
}

.pop-up:active{
    transform: scale(0.9);
}

.popup-hover:hover{
    transform: scale(1.05);
}

.phn-ico{
    display: none;
    width: 25px;
}

.reject-hover:hover{
    transform: none !important; 
    opacity: 0.4 !important;
    cursor: unset !important;
}

.reject-active:active{
    transform: none !important;
    opacity: 0.4 !important; 
    cursor: unset !important;
}