@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto Condensed', sans-serif;
}

:root{
    --m-primary:0 8rem;
    /* --b: 1px solid red; */
    --p-color: #4B9CD3;
    --p-font: 'Bebas Neue', sans-serif;
}

.flex{
    display: flex;
}

.btn-border{
    border: 1px solid var(--p-color);
    padding: 10px;
    border-radius: 50%;
}

.copy{
    position: absolute;
    right: 10px;
    top: 10px;
}