/* Global reset and basic styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none; /* Disable text selection */
    outline: none; /* Remove outline on focus */
    -webkit-tap-highlight-color: transparent; /* Remove tap highlight on iOS */
}

/* Main container styling */
#main {
    border: 5px solid white;
    position: relative;
    max-width: 24rem;
    min-width: 10rem;
    border-radius: 45px;
    overflow: hidden;
    aspect-ratio: 0.55;
    margin: 10px auto;
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 20px 10px;
    background-color: black;
}

/* Display area styling */
#display {
    height: 34%;
    min-height: 100px;
    border-radius: 45px 45px 0 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    overflow: hidden;
    font-size: 3rem;
    color: white;
}

.ans {
    overflow-y: auto; /* Enable vertical scrolling */
    max-width: 100%; /* Ensure content doesn't overflow */
}

/* WebKit Scrollbar Styling */
.ans::-webkit-scrollbar {
    height: 0px; /* Hide scrollbar */
}

.ans::-webkit-scrollbar-track {
    background: transparent; /* Background of the track */
}

.ans::-webkit-scrollbar-thumb {
    background: transparent; /* Scrollbar thumb color */
}

/* Error message styling */
.error {
    display: none; /* Initially hidden */
    color: #a5a5a5;
    width: 100%;
    max-height: 0%;
    transition: all 0.2s; /* Smooth transition animation */
    text-align: right;
    font-size: 1.5rem;
}

/* Buttons container styling */
#buttons {
    height: 66%;
    overflow: hidden; /* Hide overflow */
    display: flex;
    gap: 10px;
    flex-direction: column;
}

/* Button row styling */
.row {
    flex: 1;
    gap: 20px;
    width: 100%;
    display: flex;
}

/* Generic button styling */
.button {
    flex: 1;
    font-size: 2rem;
    text-align: center;
    aspect-ratio: 1;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

/* Special styling for zero button */
#zero {
    aspect-ratio: unset; /* Reset aspect ratio */
    flex: 2;
    border-radius: 50px;
}

/* Specific button color styles */
.yellow {
    background-color: #ff9f0a;
    color: white;
}

.yellow:hover {
    background-color: rgba(255, 159, 10, 0.8);
    color: white;
}

.light-grey {
    background-color: #a5a5a5;
    color: black;
}

.light-grey:hover {
    background-color: rgba(165, 165, 165, 0.8);
    color: black;
}

.grey {
    background-color: #333333;
    color: white;
}

.grey:hover {
    background-color: rgba(51, 51, 51, 0.8);
    color: white;
}

/* Design element styling */
.design {
    height: 15px;
    width: 40%;
    background-color: white;
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
}
